
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');




/* defult style start */
body{
    margin: 0;
    padding: 0;
     font-family: "Nunito", sans-serif;
     background-color: #1A3636;
  
}
.container{
    border: 1px solid black;
    margin-top: 100px;
}
.section-heading{
  color: white;
  font-size: 2rem;
}
.all-p{
    font-size: 14px;
    color: white;
}

/* defult style end */

/* header section start */


.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-bar h2{
    color: burlywood;
}
ul{
    display: flex;

}
li{
    list-style: none;
    padding-left:  2rem;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}
.icon{
    padding-left: 2rem;
    
    
}
.icon-2{
    display: none;
    color: white;
    font-size: 20px;
}
i{
    padding-right:2rem;
    color: white;
    font-size:20px;
    
}
.nav-option{
    display: flex;
    align-items: center;
   
    background-color:#677D6A ;
    border-radius: 2rem;
}
/* banner part */
.banner-text h1{
   font-size: 3rem;
   color: white;
}
.primary-btn{
    width: 100px;
    padding: 0.5rem 1rem;
   background-color:#677D6A ;
   border: none;
   border-radius: 2rem;
   color: white;
}
.banner-img img{
    width: 600px;
    height: 500px;
}
.banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* header section end */

/* main section start */

/* crafrec section start */
.crafted-img-1{
    width: 300px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 30px 15px #1A3636;
  
}
.crafted-img-2{
    width: 300px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 30px 15px #1A3636;
}
.crafted-img-1 img{
  width: 300px;
  height: 250px;
  
}
.crafted-img-2 img{
  width: 300px;
  height: 250px;
}
.sub-crafted{
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding:70px 0;
    border-radius: 1rem;
    background-color:#d6bd9863;
}
.craft{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 30px 15px #1A3636;
}

/* why chouse us section start */
.div-heading{
    color: white;
}
.sub-chouse-us-1{
    width: 40%;
    background-color:#d6bd9863;
    border-radius: 1rem;
}
.sub-chouse-us-2{
    width: 40%;
    display: flex;
    align-items: center;
    
}
.sub-chouse-us-2 img{
    width: 100%;
    height:auto;
    border-radius: 1rem;
}

.four-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    padding: 1rem 1rem;
}
.chouse-us-child{

    box-shadow: 0 0 13px 10px #1a363698;
    border-radius: 1rem;
    padding: 10px;
}
.why-chouse-us{
    display: flex;
    justify-content: space-around;
}

/* why chouse us section end */

/* we help you section start */
.we-help-you-img{
    width: 40%;
    height: 400px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
   
}
.help-you-child-1{
    grid-column: span 2;
    grid-row: span 5;
   
}
.help-you-child-1 img{
    width: 100%;
    height: 100%;
   
}
.help-you-child-2 img{
    width: 100%;
    height: 100%;
   
}
.help-you-child-3 img{
    width: 100%;
    height: 100%;
   
}
.help-you-child-2{
    grid-row: span 2;
}
.help-you-child-3{
    grid-row: span 3;
  
}


.we-help-you-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help-text-ul ul{
    list-style: circle;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.we-help-you{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* footer section start */
.footer-text .order-list li{
    display: block;
    color: white;
    font-size: 12px;
}
.footer-text{
    display: flex;
    justify-content:space-evenly;
}
.footer-icon{
    width: 300px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    
}
.footer{
    background-color:#d6bd9863;
}
hr{
    width: 80%;
    margin: 50px auto;
}


/* footer section end */

/* we help you section end */

/* main section end */



/* media quare start */
@media screen and (max-width:576px) {
   
    .nav-option{
        display: none;
    }
    .icon-2{
        display: block;
    }
    .banner{
        width: 100%;
        flex-direction: column;
        align-items: center;
        

    }

    .banner-text{
        width:100%;
    }
    .banner-img img{
        width: 100%;
    }
    .nav-bar{
        justify-content: space-between;
    }
    .nav-bar h2{
        padding-left: 50px;
    }

/* crafted section start  */
.crafted-section{
    width: 100%;
    height: auto;
}
.sub-crafted{
    width:100%;
    height: auto;
}
.craft,.crafted-img-1,.crafted-img-2{
    width: 90%;
    margin-bottom: 70px;

}
.crafted-img-2{
    margin-bottom:0 ;
}
.sub-crafted{
    flex-direction: column;
   align-items: center;
    padding:50px 0;
}
/* crafted section end */

/* why chouse us section start */
.sub-chouse-us-1{
    flex-direction: column;
    width: 100%;
}
.sub-chouse-us-1{
    width: 100%;
}

.why-chouse-us{
    flex-direction: column;
}
.four-div{
  grid-template-columns: repeat(1,1fr);
}
.sub-chouse-us-2 img{
    width: 100%;
}
.sub-chouse-us-2 {
    width: 100%;
    margin-top: 1rem;
}

/* why chouse us section end */

/* we help you section start */
.we-help-you{
    flex-direction: column;
}
.we-help-you-img{
    width: 100%;
    height: auto;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
}
.help-you-child-2,.help-you-child-3{
    width: 100%;
    height: auto;
    grid-column: span 3;
}
.we-help-you-text{
    width: 100%;
}


/* we help you section end */
.footer-text{
    flex-direction: column;
}



}


/* media quare end */